<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Blogs - Sai</title>
    <link rel="stylesheet" href="styles.css" />


</head>
<body>
    <div class="header">
        <h1>My Blogs</h1>
        <button id="toggleDialog" class="add-button">Add New</button>
    </div>
    <div class="kid-image">
        <img src="./assets/kid.svg" alt="kid" />
    </div>
    <div class="cat-hand">
        <img src="./assets/cathand.svg" alt="cathand" />
    </div>
    <div class="cat-image">
        <img src="./assets/cat.svg" alt="cathand" />
    </div>
    <dialog id="myFirstDialog" class="dialog">
        <div class="dialog-in">  
            <form action="/submit" method="POST">
                <label id="name"><b>Name: </b></label>
                <input type="text" class="text-input" id="name" name="name" placeholder="Enter Your Name" required>
                <br>
                <label id="title"><b>Blog Title: </b></label>
                <input type="text" class="text-input" id="title" name="title" placeholder="Enter Title Here" required>
                <br>
                <label id="blogtext"><b>Blog Text:</b></label>
                <br>
                <textarea  type="text" class="text-input" style="resize:none" id="blogtext" name="blogtext"></textarea>
                <!-- <textarea></textarea> -->
                <br>
                <di class="dialog-buttons">
                    <button type = "submit" id="submit">Submit</button>
                    <button id="close">Close</button>  
                </di>    
            </form>

            
        </div>  
    </dialog>
    
    <!--Blogs-->
    <div class="blogs-container">
        <div class="blog-post">
            <h2>How to live in the moment?</h2>
            <p>I remember that all of my childhood, i always used to feel that i don’t live in the moment and i am in an 
                imaginary world that moves faster than i comprehend. But indeed, it wasn’t a dream and it’s real life. I 
                think was something i only feel and no one else.
                But as i grew older, i realized that "This feeling of being in a fast-moving, imaginary world was my mind's way of processing life. This imaginary world wasn't an escape, but a space for  creativity and understanding. It taught me to value the present moment and cherish my unique perspective.
                Now, I see it as a special part of my journey, reminding me that our inner worlds are as real and important
                as the outer one. </p>
            <p>Posted by: Saiii</p>
        </div>
        <hr>
        <div class="blog-post">
            <h2>Out, in the east</h2>
            <p>Have you ever seen a whole 1-hour long sunrise at the beach? The moment, when sun is appearing from the depths of  the vast ocean uprising slowly and slowly with brighter and brighter light every moment?  The time when the sky changing to many different shades of orange, red, yellow every passing minute? Partially cloudy skies with birds flying across just like an artist’s painting? The sound of waves hitting themselves and rocks and the relaxing breeze kissing your face? Thought many people might haven’t experienced this, I believe that these are the small moments that we as humans thrive for!</p>
            <p>Posted by: Saiii</p>
        </div>
        <hr>
        <% include blogPost.ejs %>
    </div>
    
    


    <div class="footer">
        <a href="https://www.linkedin.com/in/sai-vatturi/"><img src="./assets/linkedIn.svg" alt="LinkedIn" width="20px" /></a>
        <a href="https://github.com/sai-vatturi"><img src="./assets/github.svg" alt="GitHub" width="20px" /></a>
        <a href="https://twitter.com/xsainav"><img src="./assets/x.svg" alt="Twitter" width="20px"/></a>
    </div>



    <script type="text/JavaScript">  
        (function() {    
            var dialog = document.getElementById('myFirstDialog');    
            var toggleButton = document.getElementById('toggleDialog');
            var closeButton = document.getElementById('close');
            toggleButton.onclick = function() {    
                if (dialog.open) {
                    dialog.close();    
                    toggleButton.textContent = 'Add New';
                } else {
                    dialog.show();    
                    toggleButton.textContent = 'Close';
                }    
            };
            closeButton.onclick = function() {
                dialog.close();
                toggleButton.textContent = 'Add New';
            }       
        })();   
    </script>  
</body>
</html>