<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Blogs - Sai</title>
    <link rel="stylesheet" href="styles.css" />


</head>
<body>
    <!--Header-->
    <div class="header">
        <h1>My Blogs</h1>
        <button id="toggleDialog" class="add-button">Add New</button>
    </div>
    <div class="kid-image">
        <img src="./assets/kid.svg" alt="kid" />
    </div>
    <div class="cat-hand">
        <img src="./assets/cathand.svg" alt="cathand" />
    </div>
    <div class="cat-image">
        <img src="./assets/cat.svg" alt="cathand" />
    </div>

    <!--Dialog-->
    <dialog id="myFirstDialog" class="dialog">
        <div class="dialog-in">  
            <form action="/submit" method="POST">
                <label id="name"><b>Name: </b></label>
                <input type="text" class="text-input" id="name" name="name" placeholder="Enter Your Name" required>
                <br>
                <label id="title"><b>Blog Title: </b></label>
                <input type="text" class="text-input" id="title" name="title" placeholder="Enter Title Here" required>
                <br>
                <label id="blogtext"><b>Blog Text:</b></label>
                <br>
                <textarea  type="text" class="text-input" style="resize:none" id="blogtext" name="blogtext"></textarea>
                <br>
                <di class="dialog-buttons">
                    <button type = "submit" id="submit">Submit</button>
                    <button id="close">Close</button>  
                </di>    
            </form>            
        </div>  
    </dialog>
    
    <!--Blogs-->
    <div class="blogs-container">
        <% blogPosts.forEach(function(post) { %>
            <div class="blog-post">
                <h2><%= post.title %></h2>
                <p><%= post.blogtext %></p>
                <p class="ralign">Posted by: <b><%= post.name %></b></p>
                <% if(post.date) { %>
                    <p class="ralign">Date: <%= new Date(post.date).toLocaleDateString("en-US", { year: 'numeric', month: 'long', day: 'numeric' }) %></p>
                <% } else { %>
                    <p class="ralign"></p>
                <% } %>
            </div>
            <hr>
        <% }); %>
        
    </div>
    
    <!--Footer-->
    <div class="footer">
        <a href="https://www.linkedin.com/in/sai-vatturi/"><img src="./assets/linkedIn.svg" alt="LinkedIn" width="20px" /></a>
        <a href="https://github.com/sai-vatturi"><img src="./assets/github.svg" alt="GitHub" width="20px" /></a>
        <a href="https://twitter.com/xsainav"><img src="./assets/x.svg" alt="Twitter" width="20px"/></a>
    </div>



    <script type="text/JavaScript">  
        (function() {    
            var dialog = document.getElementById('myFirstDialog');    
            var toggleButton = document.getElementById('toggleDialog');
            var closeButton = document.getElementById('close');
            toggleButton.onclick = function() {    
                if (dialog.open) {
                    dialog.close();    
                    toggleButton.textContent = 'Add New';
                } else {
                    dialog.show();    
                    toggleButton.textContent = 'Close';
                }    
            };
            closeButton.onclick = function() {
                dialog.close();
                toggleButton.textContent = 'Add New';
            }       
        })();   
        blogPosts.forEach(function(post) {
        var currentDate = new Date().toLocaleString(); 
        document.getElementById('postDate_' + post.id).textContent = currentDate;
    });
    </script>  
</body>
</html>